body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.padding-top-bottom-2 {
  padding-bottom: 2em;
  padding-top: 2em;
}

.pointer-hover:hover {
  cursor: pointer;
}

.font-bold {
  font-weight: bold;
}
